.login-page{
  background: url("../images/health.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-logo a{
  color: #fff;
}

.login-logo{
    font-size: 28px;
}

.profil-pasien{
  font-size: 14px;
}
