div.combobox{
  font-family: Tahoma;
  font-size: 12px
}
div.combobox{
  position: relative;
  zoom: 1
}
	div.combobox	div.dropdownlist	{display: none;width: 100%;
		border: 1px solid #ccc;background-color: #fff;
		height: 200px;overflow: auto;position: absolute;
		top: 33px;left: 0px;}
	div.combobox	.dropdownlist	a	{display: block;text-decoration: none;
		color: #000;padding-right: 10px; padding-left: 10px;height: 1em;cursor: default}
	div.combobox	.dropdownlist	a.light	{color: #fff;
		background-color: #31708f}
	div.combobox	.dropdownlist, input {font-family: Tahoma;font-size: 14px;}
	div.combobox	input {border-radius: 0; width: 95%;}
	div.combobox	span	{border: solid 1px #ccc;background: #eee;
		width: 20px;height: 34px;
		float: left;text-align: center;border-left: none;cursor: default}
